* {
    margin: 0;
    padding: 0;
    border: 0;
  }

html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/3/7/e/1449721-windows-81-lock-screen-wallpaper-1920x1200-4k.jpg');
    font-family: "Lato", sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100%;
        
        font-style: 20px;
        font-family: 'Lato', 'sans-serif';
        font-weight: 400;
        line-height: 1.8em;
        color: #666;
    
    }

/************* navigation ********************/

#document {
    display: none;
}

.nav-link {
    font-size: 2em;
    font-family: 'Lato', 'sans-serif';
    cursor: pointer;
    margin-left: 25px;
    
}

nav .navbar-nav li {
    margin-left: 25px;
    }

nav .navbar-nav li a{
  color: #000 !important;
  }

.navbar .navbar-text {
    color: black!important;
    font-weight: bold;
    font-size: 2.4em;
}

.sheero { 
    height: 60px;
    width: auto;
}


/*******************************************/

.search-part {
    width: 50%;
    margin: 100px auto;
    
}

.has-search .form-control {
    padding-left: 2.375em;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375em;
    height: 2.375em;
    line-height: 2.375em;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.input-group .form-control {
    font-size: 2em;
}

.btn {
    font-size: 1.5em;
}




/**************************************************/

.card-body {
    padding: 0.5em;
}

.card-title {
    font-size: 2.2em;
}

.card-subtitle {
    font-size: 1.8em;
}   

p.card-text {
    padding-bottom: 0.8em;
    line-height: 1.2em;
    font-size: 1.25em;
}

/***************************** Media Queries ***********************************************/

@media only screen and (max-width: 768px) {
    nav .navbar-nav li {
        padding-top: 2%;
        }
        
    .sheero { 
            height: 45px;
            width: auto;
        }

}